<!doctype html>
<html>
<head>
    <meta name='viewport' content='width=device-width, initial-scale=1, user-scalable=no'>
    <title>Mocha Launcher</title>
    <link rel='stylesheet' href='/node_modules/mocha/mocha.css'>
    <link rel='stylesheet' href='/html/index.css'>
    <script>
      window.addEventListener('error', function(e){
        var el = document.getElementById('error')
        el.style.display = 'block'
        el.innerHTML += e.error.stack + '<br><br>'
      })
    </script>
</head>
<body>
  <div class="container">
    <div class='action-block'>
      <a href='/' class="btn btn-success">首页</a>
      <a href='javascript:location.reload()'
         class="btn btn-info"
         style="float:right"
      >reload</a>
    </div>

    <div id='mocha'></div>
    <pre id='error'></pre>
  </div>
  <script src='/node_modules/mocha/mocha.js'></script>

  <script>mocha.setup('bdd')</script>

  <script src='/bundle.spec.js'></script>

   <script>mocha.run()</script>
</body>
</html>
